/* Giving Background colour to complete body */
body{
    background-color: #232830;    
}

/* Giving Style to .header-nav Section*/

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-right: 20px;
    color: antiquewhite;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
}

/* Giving properties to Head-nav child */

#dev{
    margin-left: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}

/* Giving style to Header-Logo Section*/

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

h1{
    color: #FF7575;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Recursive', sans-serif;
}

.header-logo > p{
    color: #FFFFFF;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
}

/* Giving Style to Categories Section*/

.categories{
    margin-bottom: 10px;
    color: #909090;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Recursive', sans-serif;
}

/* Giving the style to Articles Section */

.Articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap : 20px;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
}

.list{
    background-color: #FFFFFF;
    border-radius: 24px;
    max-width: 349px;
    max-height: 420px;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    }
    
.photo{
    width: 350px;
}

/* Making a div of <p> and <h> to give padding */

.headt{
    padding-left: 15px;
}

hr{
    border: 2px solid #4D4D4D;
}

/* Giving style to Pages Section*/

.pages{
    color: #909090;
    line-height: 30px;
    width: 400px;
    margin-left: 700px;
    display: flex;
    justify-content: space-around;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Recursive', sans-serif;
}

.pages > *a{
    size: 25px;
}

#a2{
    border-top: #FF2323 solid;
    margin-top: 1px;
    color: #FF2323;
}

/* Giving style to footers Section*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Recursive', sans-serif;
}

#h3{
    color: #f3ecec;
}

#follow{
    background-color: #4699E0;
    color: white;
    height:max-content;
    width: max-content;
}

.footer1{
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: center;
}

.footer2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    background-color: #4699E0;
    height: 25px;;
}